<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6  col-sm-12 social">
        <h6 class="">Follow Us On</h6>
        <ul class="">
          <li><a target="_blank" href="https://www.facebook.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                class="fa fa-facebook fa-lg"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/maq-software" tabindex="-1"
              aria-hidden="true"><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a target="_blank" href="https://youtube.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                class="fa fa-youtube fa-lg"></i></a></li>
          <li><a target="_blank" href="https://twitter.com/MAQSoftware" tabindex="-1" aria-hidden="true"><i
                class="fa fa-twitter fa-lg"></i></a></li>
          <li><a target="_blank" href="https://github.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                class="fa fa-github fa-lg"></i></a></li>
          <li><a target="_blank" href="https://instagram.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>
      <div>mfjddhsghfgshvfgvsdghfvgshvfhhfdhh</div
      <div class="col-md-5 offset-md-2 col-sm-12">
        <ul class="link-small">
          <li>
            <a class="font-weight-normal" target="_blank"
              href="https://www.google.com/maps/search/?api=1&amp;query=MAQ Software Redmond WA">
              15446 Bel-Red Road, Second Floor,<br>
              Redmond, WA 98052
            </a>
          </li>
          <li>
            <span>Email: </span>
            <a href="mailto:Sales@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="Sales@MAQSoftware.com">Sales@MAQSoftware.com</span>
            </a>
          </li>
          <li>
            <span>Redmond Jobs: </span>
            <a href="mailto:RedmondJobs@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="RedmondJobs@MAQSoftware.com ">RedmondJobs@MAQSoftware.com </span>
            </a>
          </li>
          <li>
            <span>India Jobs: </span>
            <a href="mailto:IndiaJobs@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="IndiaJobs@MAQSoftware.com">IndiaJobs@MAQSoftware.com</span>
            </a>
          </li>
          <li>Phone: <a href="tel:+1 425 526 5399">+1 425 526 5399</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <section class="copyright">
    <div class="container">
      <p>
        © <span id="copyright_year">2020 </span><a href="/"><b>MAQ Software</b></a>. All Rights Reserved. <u><span
            class="link privacy"><a href="/privacystatement">Privacy Statement</a></span> </u>&nbsp; <u><span
            class="link privacy"><a href="/termsofservice">Terms of Service</a></span></u>
      </p>
    </div>
  </section>
</footer>
<!-- ./Footer -->
<!-- 
<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink='/home'>Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/about'>About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/menu'>Menu</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/contact'>Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 80%">
          121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:FEEHub@food.net">FEEHub@food.net</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2018 Ristorante Con Fusion</p>
  </div>
</div> -->