$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-footer-color: #E3E3E3;
$background-moredark: #4527A0;
$background-darkRed: #B92026;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-footer-color;
    @include zero-margin(20px, 0px);

    a{
        color: $background-darkRed;
    }

    .copyright{
        text-align: center;
        margin: 0 auto;
    }
    .social{
        ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        }
      
        li {
        float: left;
        margin-right: 10px;
        }
    }

    .footer-map{
        overflow: hidden; 
        height: 200px;
        
        #maq-office-map{
            border:0; 
            margin-top: -150px;
        }
    }

}

.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}