<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-5 col-sm-12 footer-map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1XOzUpUgB1qz6rg9CHmGJAQEiliHSCvnJ" id="maq-office-map"
          width="100%" height="400" title="MAQ Software Map" frameborder="0" aria-hidden="true" tabindex="-1"></iframe>
      </div>

      <div class="col-md-4 col-sm-12">
        <ul class="link-small footer-maq-address">
          <li>
            <a class="font-weight-normal" target="_blank"
              href="https://www.google.com/maps/search/?api=1&amp;query=MAQ Software Redmond WA">
              15446 Bel-Red Road, Second Floor,<br>
              Redmond, WA 98052
            </a>
          </li>
          <li>
            <span>Email: </span>
            <a href="mailto:Sales@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="Sales@MAQSoftware.com">Sales@MAQSoftware.com</span>
            </a>
          </li>
          <li>
            <span>Redmond Jobs: </span>
            <a href="mailto:RedmondJobs@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="RedmondJobs@MAQSoftware.com ">RedmondJobs@MAQSoftware.com </span>
            </a>
          </li>
          <li>
            <span>India Jobs: </span>
            <a href="mailto:IndiaJobs@MAQSoftware.com">
              <span class="__cf_email__" data-cfemail="IndiaJobs@MAQSoftware.com">IndiaJobs@MAQSoftware.com</span>
            </a>
          </li>
          <li>Phone: <a href="tel:+1 425 526 5399">+1 425 526 5399</a></li>
        </ul>
      </div>

      <div class="col-md-2  col-sm-12 social">
          <h6 class="">Follow Us On</h6>
          <ul class="">
            <li><a target="_blank" href="https://www.facebook.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                  class="fa fa-facebook fa-lg"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/maq-software" tabindex="-1"
                aria-hidden="true"><i class="fa fa-linkedin fa-lg"></i></a></li>
            <li><a target="_blank" href="https://youtube.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                  class="fa fa-youtube fa-lg"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/MAQSoftware" tabindex="-1" aria-hidden="true"><i
                  class="fa fa-twitter fa-lg"></i></a></li>
            <li><a target="_blank" href="https://github.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                  class="fa fa-github fa-lg"></i></a></li>
            <li><a target="_blank" href="https://instagram.com/maqsoftware" tabindex="-1" aria-hidden="true"><i
                  class="fa fa-instagram fa-lg"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
  <hr>
  <section class="copyright">
    <div class="container">
      <p>
        © <span id="copyright_year">2020 </span><a href="/"><b>MAQ Software</b></a>. All Rights Reserved. <u><span
            class="link privacy"><a href="/privacystatement">Privacy Statement</a></span> </u>&nbsp; <u><span
            class="link privacy"><a href="/termsofservice">Terms of Service</a></span></u>
      </p>
    </div>
  </section>
</footer>