<div class="container">
  <main role="main" id="courses-main-content-container">
    <h1>Courses Catalog</h1>
    <p>The skills required to advance your career nand earn your spot at the top do not come easily. Gain today's cloud
      techincal skills with latest courses.
    </p>
    <div id="courses-search-box">
      <input type="text" placeholder="Search for a course" aria-label="Search" id="courses-search-inputbox">
      <button class="glyphicon glyphicon-search" name="search-button" id="courses-search-btn">
        <span class="x-screen-reader"></span>
      </button>   
    
    </div>
  </main>
</div>