<div class="outer-login-div">
  <img class="login-background-img" src="/assets/images/background-image1.png" alt="login-background">
  <div class="middle-login-div">
    <div class="inner-login-div">
      <div class="maq-login">
        <img class="maq-login-logo" src="/assets/images/MAQLoginLogo.png" alt="logo">
      </div>

      <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field>
          <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username"  #username="ngModel" required>
          <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
          <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="checkbox">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white" 
      [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form> -->