$background-darkRed: #b92026;

.container {
  .user-welcome {
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
  }

  .user-role {
    font-size: 20px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 24px;
    margin: 0px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .home-tiles {
    margin-bottom: 30px;

    .home-tile-format {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 10px;

      .home-card-view {
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.451);
        border: 1px solid #e3e3e3;
        height: 100%;
        padding-left: 15px;

        h2 {
          font-weight: 700;
        }

        h3 {
          font-weight: 500;
        }

        .home-courses-div {
          margin-bottom: 20px;
        }

        .home-item-description {
          overflow: hidden;
          position: relative;
          line-height: 1.2em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
        .home-seeallcoursesfeatures-link {
          text-align: center;
          margin-bottom: 10px;
        }
        .home-courses-tile-details-link {
          font-size: small;
        }
      }

      .home-tile-item-icon {
        display: block;
      }

      .home-tiles-view-all-links {
        margin: 10px;
        margin-left: 15px;
      }

      .home-feature-div {
        margin-bottom: 82px;
      }
    }
    .home-btn {
      border: 0;
      background-color: inherit;
      color: black;
      font-weight: 500;
      font-size: 18px;

      .glyphicon-play {
        top: 2.5px;
        color: #b92026;
      }
    }
  }
  a:focus {
    outline: 2px dashed $background-darkRed;
  }
}
