//colors
$background-darkRed: #b92026;
$background-dark: #512da8;
$primary-color-dark: #512da8;
$primary-color: #673ab7;

.container {
  h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 56px;
  }

  #courses-search-box {
    max-width: 600px !important;
    position: relative;
    height: 38px;
    margin-bottom: 10px;

    #courses-search-inputbox {
      position: relative;
      outline: 2px solid transparent;
      border: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      padding-right: 38px;
      border: 1px solid rgba(0, 0, 0, 0.6);

      &:focus {
        border: 0;
        outline: 2px dashed #b92026;
      }
    }

    #courses-search-btn {
      position: absolute;
      top: 0;
      right: 0;
      outline: 0;
      border: 2px solid transparent;
      background-color: #ffffff;
      height: 34px;
      width: 34px;
      margin: 2px 2px 1px 1px;
    }
  }

  .courses-filter-container {
    .courses-menu-list {
      margin-top: 10px;
      width: 90%;

      .courses-mainmenu-list {
        background-color: rgba(185, 32, 38, 0.1);

        .courses-viewmore-btn {
          padding: 15px;
          cursor: pointer;

          &:hover {
            text-shadow: 0 0 3px #b92026;
          }
        }

        #course-filter-duration-min-value {
          float: left;
          margin-left: 10px;
        }

        #course-filter-duration-max-value {
          float: right;
          margin-right: 10px;
        }

        #course-filter-duration-status-text {
          width: 100%;
          text-align: center;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        .courses-btn {
          font-size: 23px;
          padding-bottom: 15px;
          padding-top: 10px;
          line-height: 26px;
          color: rgba(0, 0, 0, 0.8);
          text-align: left;
          width: 100%;
          margin-bottom: 2px;

          &:focus {
            border: 0;
            outline: 2px dashed #b92026;
          }

          &:hover{
           box-shadow: 0 0 4px;
          }
        }
      }

      #courses-filter-technology {
        max-height: 300px;
        overflow: hidden;
        padding-top: 10px;

        .courses-filter-technology-tags-p {
          font-size: small;
          margin-bottom: 15px;
          padding-left: 15px;
          display: block;
          font-weight: 500;
          cursor: pointer;

          .courses-filter-technology-checkbox {
            float: right;
            margin-right: 10px;
          }
        }
      }

      .slidecontainer {
        width: 100%;
        margin-top: 5px;
        padding: 10px;

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 10px;
          border-radius: 5px;
          background: $background-dark;
          outline: none;
          opacity: 0.6;
          -webkit-transition: 0.2s;
          transition: opacity 0.2s;
        }

        .slider:hover {
          opacity: 0.8;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $background-darkRed;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: $background-darkRed;
          cursor: pointer;
        }
      }
    }
  }

  .courses-information-container {
    .courses-cards-div {
      .courses-card {
        .courses-card-body {
          padding: 10px;
          outline: 15px solid transparent;
          display: block;
          /* border: 2px solid; */
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

          .course-card-each-item {
            padding: 10px;
            height: auto;
            .courses-card-title {
            }

            .courses-card-text {
            }

            .course-information-courseTag-div {
              background-color: $background-darkRed;
              color: white;
              margin-right: 5px;
              word-wrap: break-word;
              font-size: 10px;
              margin-bottom: 0px;
              border-radius: 10px;
              text-align: center;

              .course-information-courseTag-p {
                margin: 2px;
              }
            }

            .course-information-duration-div {
              background-color: $background-darkRed;
              color: white;
              margin-right: 5px;
              word-wrap: break-word;
              font-size: 10px;
              margin-bottom: 0px;
              border-radius: 10px;
              text-align: center;
              padding-bottom: -10px;

              .course-information-duretion-p {
                margin: 2px;
              }
            }
          }

          .course-card-each-item:hover {
            padding: 11px;
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          }
        }
      }
    }

    .course-information-empy-result-message {
      color: $background-darkRed;
      text-align: center;
    }
  }
}
