<div class="container">
  <main role="main" id="courses-main-content-container">
    <h1>Courses Catalog</h1>
    <p>The skills required to advance your career and earn your spot at the top do not come easily. Gain today's cloud
      techincal skills with latest courses.
    </p>
    <div id="courses-search-box">
      <input type="text" placeholder="Search for a course" [(ngModel)]="courseSearchText" aria-label="Search"
        id="courses-search-inputbox">
      <button class="glyphicon glyphicon-search" title="search button" id="courses-search-btn">
        <span class="x-screen-reader"></span>
      </button>
    </div>

    <div class="course-main-section">

      <!-- Filter section -->
      <div class="col-sm-4 col-md-3">
        <aside>
          <div class="row courses-filter-container">
            <h2>Filters</h2>
            <div class="courses-menu-list">
              <ul class="courses-mainmenu-list">
                <li>
                  <button class="dropdown-toggle courses-btn" data-toggle="collapse" data-target="#collapse-course-menu"
                    aria-expanded="true" aria-controls="collapse-course-menu" (click)="showMoreLessbutton()">
                    Technology
                  </button>
                  <ul class="collapse  multi-collapse" id="collapse-course-menu">
                    <li *ngFor="let technology of technologyTags" class="courses-technology-tags">
                      <p class="courses-filter-technology-tags-p">{{technology}}
                        <input type="checkbox" class="courses-filter-technology-checkbox" (change)="filterCoursesUsingTags(technology)"/>
                      </p>
                    </li>
                  </ul>
                  <div class="courses-viewmore-btn" id="collapse-course-viewmore" (click)="showMoreTechnologies()" 
                  *ngIf="courseFilterShowMore && courseShowMoreLessButton"><b>View more</b></div>
                  <div class="courses-viewmore-btn" id="collapse-course-viewless" (click)="showLessTechnologies()" 
                  *ngIf="!courseFilterShowMore && courseShowMoreLessButton"><b>View less</b></div>
                </li>
                <li>
                  <button class="dropdown-toggle courses-btn" data-toggle="collapse"
                    data-target="#collapse-duration-menu" aria-expanded="true" aria-controls="collapse-duration-menu">
                    Duration
                  </button>
                  <ul class="collapse  multi-collapse" id="collapse-duration-menu">
                    <li class="slidecontainer">
                      <input type="range" min="0" max="{{maxDuration}}" value="{{maxDuration}}" class="slider" id="courses-filter-duration-slider" (change)="filterCoursesUsingDuration()">
                    </li>
                    <li>
                      <div>
                        <p id="course-filter-duration-min-value">0</p>
                        <p id="course-filter-duration-max-value">{{maxDuration}}</p>
                      </div>
                    </li>
                    <br>
                    <li id="course-filter-duration-status-text">
                      <p><b>Filter is applied for 0 to {{currentDurationSliderValue}} months</b></p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <!-- Course display section with pagination -->
      <div class="col-sm-8 col-md-9">
        <section>
          <div class="row courses-information-container">
            <h2>Courses</h2>
            <div class="courses-cards-div">
              <div class="courses-card card">
                <div class="courses-card-body card-body">
                  <div class="course-card-each-item" *ngFor="let course of pagedItems| coursesFilter: courseSearchText">
                    <h3 class="courses-card-title card-title">{{course.courseName}}</h3>
                    <p class="courses-card-text card-text">
                      {{course.courseDescription}}
                    </p>
                  </div>
                </div>
                <div class="card-footer">
                  <jw-pagination [items]="getCommonCoursesAfterFilter()" (changePage)="beginPagination($event)" pageSize="5"></jw-pagination>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>