//colors
$background-darkRed: #b92026;

.container {
  .editprofile-page {
    .editprofile-form-header {
      border-bottom: 1px solid $background-darkRed;
      margin-left: 15px;
      h1 {
        font-size: 46px;
        font-weight: 600;
        line-height: 56px;
      }
    }

    .editprofile-userinfo {
      margin-top: 10px;
      border-bottom: 1px solid $background-darkRed;
      margin-left: 15px;
    }

    .editprofile-main-form {
      margin-top: 15px;
      margin-bottom: 30px;

      .editprofile-main-form-heading {
        margin-left: 15px;
        margin-bottom: 10px;
      }

      .editprofile-main-form-input {
        width: 100%;
        padding: 7px;
        margin-top: 10px;
        margin-bottom: 15px;

        &:focus {
          border: 0;
          outline: 2px dashed $background-darkRed;
        }
      }
      .editprofile-editgender {
        margin-bottom: 15px;
      }
      .editprofile-add-cliams-btn {
        margin-left: 18px;
        color: black;
        font-weight: 500;
        font-size: 15px;

        .glyphicon-plus {
          top: 2.5px;
          color: #b92026;
        }
      }
    }

    .editprofile-buttons {
      margin-left: 15px;
      .editprofile-claim-horizontal-line {
        margin-top: 10px;
        border-bottom: 1px solid $background-darkRed;
      }

      .editprofile-button-save-cancel {
        float: right;
        margin-bottom: 30px;
        .editprofile-save {
          margin-right: 10px;
        }
        .btn-primary {
          border: 0;
          background-color: inherit;
          color: black;
          font-weight: 500;
          font-size: 18px;

          .glyphicon-play,
          .glyphicon-remove {
            top: 2.5px;
            color: #b92026;
          }
        }
      }

      .btn-primary {
        height: 35px;
        width: 125px;
      }
    }
    h3{
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}
