<div class="container">
    <div class="editprofile-page" role="main">
        <h1>Edit Your Profile</h1>
        <div class="editprofile-main-form">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editname" class="col-md-12 editprofile-main-form-label"> Name</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editname" class="editprofile-main-form-input">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editusername" class="col-md-12 editprofile-main-form-label">
                        Username</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editusername" class="editprofile-main-form-input" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editemail" class="col-md-12 editprofile-main-form-label"> Email</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editemail" class="editprofile-main-form-input">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editphone" class="col-md-12 editprofile-main-form-label"> Phone</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editphone" class="editprofile-main-form-input">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editrole" class="col-md-12 editprofile-main-form-label"> Role</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editrole" class="editprofile-main-form-input" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="editprofile-editclaims" class="col-md-12 editprofile-main-form-label"> Claims</label>
                    <div class="col-md-3">
                        <input type="text" id="editprofile-editclaims" class="editprofile-main-form-input" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>