.container{
    .user-welcome{
        font-size: 46px;
        font-weight: 600;
        line-height: 56px;
    }

    .user-role{
        font-size: 20px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 24px;
        margin: 0px;
    }

    .home-tiles{
        .home-tile-format{
            padding-left: 10px;
            padding-right: 10px;

            .home-card-view{
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.451);
                border: 1px solid #E3E3E3;
                height: 100%;
                padding-left: 15px;
                margin-bottom: 10px;

                h2{
                    font-weight: 700;
                }

                h3{
                    font-weight: 500;
                }
            }
        }
    }
}