<div class="container">
  <main role="main">
    <div *ngIf="user">
      <h1 class="user-welcome">Welcome, {{user.name}}.</h1>
      <p class="user-role">You’re logged in as {{user.role}}</p>
    </div>
    <div class="home-tiles row">
      <div class="col-md-6 col-sm-12 home-tile-format">
        <div id="home-courses-tile" class="home-card-view">
          <h2 class="item-icon glyphicon glyphicon-education">Courses</h2>
          <div *ngFor="let course of courses">
            <h3>{{course.courseName}}</h3>
            <p>{{course.courseDescription}}
              <span class="flex-spacer"></span><a href="{{course.courseDetailsPageLink}}">Details</a></p>
          </div>
          <a href="Viewall"> View All</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 home-tile-format">
        <div id="home-features-tile" class="home-card-view">
          <h2 class="item-icon glyphicon glyphicon-asterisk">Features</h2>
          <div *ngFor="let feature of features">
            <h3>{{feature.featureName}}</h3>
            <p>{{feature.featureDescription}}</p>
          </div>
          <a href="Viewall"> View All</a>
        </div>
      </div>
    </div>
  </main>
</div>


<!-- 
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{dish.image}} alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="promotion" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{promotion.image}} alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="leader" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{leader.image}} alt={{leader.name}}>
  <mat-card-content>
    <p>{{leader.description}}
    </p>
  </mat-card-content>
</mat-card>

</div> -->